<table class="table">
  {{#each filenames}}
    <tr><td><a href="/{{filename}}" download>{{filename}}</a></td>
    </tr>
  {{/each}}
  <tr><td><a href="/{{db}}" download>{{db}}</a></td></tr>
  <tr><td><a href="/jars">jars</a></td></tr>
</table>