<table class="table">
  <tr><td><a href="/">..</a></td></tr>
  {{#each prop}}
    <tr><td><a href="/jars/{{filename}}" download>{{filename}}</a></td>
    <td>{{checksum}}</td>
    </tr>
  {{/each}}
</table>